* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #125526;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.header-menu a:hover {
  color: #125526;
}

/* Meio */
.container1 {
  background-color: #edf1d6;
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 60px;
  color: #251f1f;
}

p {
  font-size: 20px;
  color: #251f1f;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #337948;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 100px;
}

.agroterra {
  padding: 0 20px;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -200px;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background-color: #337948;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
}

.botao:hover {
  background-color: #125526;
}

.logo {
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.teste {
  height: 100px;
  background-color: #edf1d6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.fome h3 {
  font-size: 22px;
  color: #9dc08b;
  font-weight: 600;
}

.fome {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #337948;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.icones img {
  margin-top: 150px;
  width: 100px;
  height: 100px;
}

.icones div {
  display: inline-block;
  text-align: center;
}

.sobrenos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 20px;
}

.sobrenos-item h2 {
  font-size: 50px;
  color: #337948;
  font-weight: 500;
}

.sobrenos-item p {
  font-size: 24px;
}

.sobrenos-item h3 {
  color: #9dc08b;
  font-size: 25px;
  font-weight: 600;
}

.pai {
  display: grid;
  justify-content: center;
  margin-top: 150px;
}

.idoso img {
  max-width: 100%;
  border-radius: 8px;
}

.botao-juntese {
  border-radius: 8px;
  margin-top: 15px;
  font-size: 24px;
  background-color: #125526;
  display: block;
  padding: 15px;
  color: white;
  width: 150px;
  text-decoration: none;
  font-weight: 500;
}

.informacoes {
  max-width: 1200px;
  margin-top: 150px;
  display: grid;
  justify-content: center;
}

.informacoes h2 {
  font-size: 40px;
  text-align: center;
}

.informacoes p {
  font-size: 24px;
  text-align: center;
}

.informacoes-p {
  display: grid;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  display: block;
  width: 150px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.test {
  margin-top: 60px;
  background-color: #edf1d6;
}

.test-sub p {
  color: #337948;
  font-weight: 600;
}

.outer-container {
  background-color: #edf1d6;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.principal-sub h1 {
  font-size: 50px;
}

.principal-sub p {
  color: #656565;
  font-weight: 500;
  font-size: 26px;
}

.detalhe {
  background-color: #337948;
  width: 40px;
  height: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 4px;
}

.container-campo {
  display: flex;
  gap: 20px;
}

.titulo-sustentabilidade {
  color: #337948;
  font-weight: 500;
  font-size: 62px;
}

.subtitulo-sustentabilidade {
  color: #9dc08b;
  font-weight: 600;
}

.paragrafo-sustentabilidade {
  color: #656565;
  font-size: 26px;
}

.container-pai-sustentabilidade {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.titulo-direito {
  text-align: end;
  margin-right: 50px;
}

.ajuda {
  font-size: 40px;
}

input {
  font-size: 1.2rem;
  padding: 6px;
  border: 1px solid #337948;
}

img {
  max-width: 100%;
}

.grupo {
  display: flex;
  gap: 6px;
}

@media (max-width: 1200px) {
  .sobrenos img {
    display: none;
  }
  .sobrenos {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 920px) {
  .image-wrapper {
    display: none;
  }
  .sub-campo {
    display: none;
  }
  .principal p {
    font-size: 20px;
  }
  .principal h1 {
    font-size: 34px;
  }
  .container-pai-sustentabilidade h1 {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .agroterra {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .header-menu {
    display: grid;
    justify-content: center;
  }
  .icones {
    display: grid;
    gap: 0px;
  }
  .grupo {
    display: grid;
    gap: 6px;
  }
}

.item img:hover {
  transform: scale(1.1);
}

.grid-contato {
  display: grid;
}

.grid-contato button {
  margin-top: 10px;
  padding: 10px;
  background-color: #337948;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 20px;
}

label {
  display: block;
}

.item p {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.item {
  flex: 1;
  text-align: center;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid transparent;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.item img:hover {
  transform: scale(1.1);
}

.grid-contato {
  display: grid;
}

.grid-contato button {
  margin-top: 10px;
  padding: 10px;
  background-color: #337948;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 20px;
}

label {
  display: block;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-footer {

  display: flex;

  gap: 15px;

}